<!--The content below is only a placeholder and can be replaced.-->

<!--  -->

<ul>
<h3>
<mat-slider
class="example-margin"
[disabled]="disabled"
[invert]="invert"
[max]="max"
[min]="min"
[step]="step"
[thumbLabel]="thumbLabel"
[tickInterval]="tickInterval"
[value]="f"
(input)="onChange($event)"
[vertical]="vertical">
</mat-slider>

<table border=3>
  <tr>
    <th>F</th><th>x=10</th><th>x=11</th><th>x=12</th><th>x=13</th><th>x=14</th>
  </tr>
  <tr>
    <td>{{f}}</td><td>{{fc(10)}}</td><td>{{fc(11)}}</td>
    <td>{{fc(12)}}</td><td>{{fc(13)}}</td><td>{{fc(14)}}</td>
    </tr>
</table>

</h3>
</ul>
